.opsi-info {
  font-size: 22px;
  font-weight: bold;
  color: #ff0000;
}

.img-thumbnail.img-recent-portofolio.img-recent-cproduct {
  /*    height: 240px;
    width: 480px;*/
  height: 200px;
  width: 280px;
  border: 0px;
}

.img-thumbnail.img-recent-produkall {
  width: 480px;
  height: 200px;
  width: 280px;
  border: 0px;
}

.img-thumbnail.img-recent-gallery {
  border: 0 none;
  height: 250px;
}

.color-red-bold {
  color: #ee3733;
  font-weight: bold;
}

/* ==== Product ==== */
.text-product-price {
  font-size: 14px;
}

label.coret {
  text-decoration: line-through;
}

.product-detail-description {
  min-height: 140px;
  overflow: hidden;
}

.produk-hov {
  border: 1px solid #c6c6c6;
  min-height: 325px;
  overflow: hidden;
}

.produk-hov:hover {
  box-shadow: 2px 2px 2px 2px #c6c6c6;
}

.row-table {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;
}
.col-table {
  display: table-cell;
  float: left;
  height: 505px;
  overflow: hidden;
}

.col-content {
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

/* ===== Register ==== */
.p-form label {
  color: #696868;
  font-size: 14px;
  font-weight: normal;
  margin-left: 10px;
  margin-top: 8px;
  vertical-align: top;
  width: 40%;
}

.p-form input[type="text"],
.p-form input[type="email"],
.p-form input[type="password"],
.p-form input[type="file"] select {
  background: #f8f7f3 none repeat scroll 0 0;
  border: 1px solid #f5f5f5;
  border-radius: 3px;
  box-shadow: -2px -2px 5px #dfdfdf inset;
  color: #747371;
  height: 34px;
  margin-bottom: 10px;
  outline: medium none;
  padding: 8px 15px;
  width: calc(58% - 10px);
}

select.select-form {
  background: #f8f7f3 none repeat scroll 0 0;
  border: 1px solid #f5f5f5;
  border-radius: 3px;
  box-shadow: -2px -2px 5px #dfdfdf inset;
  color: #747371;
  height: 34px;
  margin-bottom: 10px;
  outline: medium none;
  padding: 8px 15px;
  width: calc(58% - 10px);
}

.bukti-transfer {
  float: right;
  margin-bottom: 10px;
  outline: medium none;
  padding: 8px 0px;
  width: calc(58% - 10px);
}

.btn-submit {
  -moz-appearance: none;
  background-color: #e74c3c;
  border: medium none;
  border-radius: 3px;
  color: #ffffff;
  display: block;
  font-family: "Montserrat Bold";
  font-size: 16px;
  line-height: 35px;
  margin: 20px 13px 35px;
  outline: medium none;
  padding: 0 18px;
  float: right;
  width: 120px;
}

.info {
  display: block;
  font-size: 13px;
  line-height: 15px;
  margin-bottom: 5px;
  padding-top: 39px;
}

.p-form h3 {
  color: #ef4b3a;
  font-size: 24px;
  line-height: 18px;
  padding-bottom: 10px;
}

.form-register input[type="email"],
.form-register input[type="password"] {
  box-sizing: border-box;
  margin-left: 10px;
  width: calc(100% - 20px);
}

.form-register label,
.form-register a {
  color: #696868;

  font-size: 11px;
  margin: 0 0 0 10px;
  vertical-align: middle;
}

.form-register label,
.form-register a {
  color: #696868;

  font-size: 11px;
  margin: 0 0 0 10px;
  vertical-align: middle;
}

.content-cart {
  min-height: 500px;
  overflow: hidden;
}

.input-number {
  padding: 11px 0;
  text-align: center;
  font-size: 14px;
  width: 65px;
}
/* ===== Login === */
.tab-content-height {
  margin-bottom: 20px;
  min-height: 290px;
  overflow: hidden;
}

/* ===== Dashboard === */
section > #content > .container > .row > .col-sm-12 > h3 {
  color: #000;
  font: 25px;
  padding-bottom: 20px;
  text-align: left;
}
#content {
  min-height: 300px;
}

#content h3.title i {
  color: #c2c2c2;
  font-size: 12px;
  line-height: 36px;
  margin: 0 10px;
  vertical-align: middle;
}

#content h3.title span {
  color: #c2c2c2;
}
.welcome {
  border-color: #e8412c;
  border-style: solid;
  border-width: 2px 0;
  height: 59px;
}

.hello {
  color: #696868;
  display: inline-block;

  font-size: 18px;
  line-height: 55px;
  margin-left: 5px;
}

.userid {
  color: #e8412c;
  display: inline-block;
  float: right;
  font-family: "Montserrat Bold";
  font-size: 24px;
  line-height: 55px;
  margin-right: 5px;
}

.left-nav {
  border-right: 2px solid #c2c2c2;
  width: 225px;
}
.left-nav ul {
  padding-top: 20px;
}

.left-nav ul li {
  font-size: 18px;
  line-height: 18px;
  padding-left: 15px;
}

.left-nav ul li.active {
  background-color: white;
  border-color: #c2c2c2;
  border-style: solid;
  border-width: 2px 0 2px 2px;
  width: 225px;
}

.left-nav ul li.active > .lm-profil {
  color: #ef4b3a;
}
.left-nav ul li a {
  background-position: left center;
  background-repeat: no-repeat;
  color: #696868;
  display: inline-block;
  line-height: 20px;
  padding-bottom: 14px;
  padding-left: 35px;
  padding-top: 14px;
}

.profil {
  color: #696868;

  padding: 30px 0 30px 25px;
}

.profil-wrap .profil-title {
  border-bottom: 1px solid #c2c2c2;
  color: #ef4b3a;
  margin-bottom: 30px;
  padding: 0 10px 15px;
}

.profil-wrap .form-wrap {
  margin: 0 -20px;
}

.profil-wrap .pbutton {
  font-size: 16px;
  margin-bottom: 10px;
  margin-right: 11px;
  padding: 7px 14px;
}

a.pbutton {
  background: #e74c3c none repeat scroll 0 0;
  border-radius: 3px;
  color: #ffffff !important;
  display: inline-block;
  padding: 11px 14px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

/* Dashboard Ubah Profile */
.profil-wrap .form-wrap .col-xs-12 {
  margin-top: 18px;
}

.btn-link-dashboard {
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 300;
  padding: 6px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out 0s;
  text-align: center;
}

.lm-signout-alias {
  background-image: url("../../assets/images/iconmenu-signout.png");
}

.lm-dashboard {
  background-image: url("../../assets/images/iconmenu-circle.png");
}

.lm-pesanan {
  background-image: url("../../assets/images/iconmenu-paper.png");
}

.lm-profil {
  background-image: url("../../assets/images/iconmenu-people.png");
}

/* Footer */
.title-footer {
  color: #ffffff;
  padding-top: 20px;
  padding-bottom: 5px;
}

.list-footer > li {
  font-size: 15px;
  padding-bottom: 6px;
  padding-top: 8px;
}
.list-footer > li > a {
  color: #fff;
}
.list-footer > li > a:hover {
  color: #ee3733;
  text-decoration: none;
}

@media only screen and (max-width: 991px) {
  .left-nav {
    width: 95px;
  }
  .left-nav ul li a {
    height: 53px;
    margin-left: 20px;
    overflow: hidden;
    width: 25px;
  }
  .left-nav ul li a {
    background-position: left center;
    background-repeat: no-repeat;
    color: #696868;
    display: inline-block;

    padding-bottom: 14px;
    padding-left: 35px;
    padding-top: 14px;
  }

  .left-nav ul li.active {
    width: 95px;
  }

  .tabs-section-mobile {
    margin-top: 130px;
  }

  .m-contact-both {
    clear: both;
    margin-bottom: 20px;
  }

  /* ===== Maps ===== */
  .map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
  }
  .map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
}

@media only screen and (max-width: 767px) {
  .left-nav {
    width: 45px;
  }

  .left-nav ul li {
    font-size: 18px;
    line-height: 18px;
    padding-left: 0px;
  }

  .left-nav ul li.active {
    background-color: white;
    border-color: #c2c2c2;
    border-style: solid;
    border-width: 2px 0 2px 2px;
    width: 45px;
  }
}

@media only screen and (max-width: 505px) {
  /*    table#cart thead {
        display: none;
    }    
    table#cart tbody td::before {
        content: attr(data-th);
        display: inline-block;
        font-weight: bold;
        width: 8rem;
    }

    table#cart tbody td {
        display: block;
        min-width: 320px;
        padding: 0.6rem;
    }

    table#cart tfoot td {
        display: block;
        min-width: 320px;
        padding: 0.6rem;
    }*/

  .btn.btn-danger.pull-right.btn-update-cart {
    margin-right: 49px;
  }

  /* Produk */

  /*    .img-thumbnail.img-recent-portofolio {
        width: 70%;
        }*/
}
@media only screen and (max-width: 480px) {
  .col-table {
    height: 540px;
  }
  .classic-title {
    line-height: 50px;
  }

  .btn.btn-danger.pull-right.btn-update-cart {
    margin-top: 14px;
    margin-bottom: 20px;
  }

  .btn-submit.pull-right.btn-profile-ubah {
    margin-top: 80px;
  }
}
